
@{
    ViewBag.Title = "Favourites";
}

<body style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet)";>
    <div>
        <h2 align="center" style="color:whitesmoke" ;>Favourites</h2>
        <p align="center" style="font-family:'Courier New'; color:whitesmoke" ;>Here are a few of my <span style="color:red">Favourite</span> comic books</p>
    </div>

    <div class="card mb-3" style="border: solid black 5px";>
        <div class="row g-0" style="background-image: linear-gradient(to right, black, grey)";>
            <div class="col-md-2">
                <img class="img-fluid rounded-start" src="~/Comic_Images/Comic5.jpg" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title" style="color:whitesmoke";>The Unbeatable Squirrel Girl</h3>
                    <p class="card-text" style="color:whitesmoke";> Doreen accidentally creates a clone of herself, who at first fights crime alongside her but then decides to save the planet by taking over from humanity and giving rule over to the squirrels. The clone starts her quest by beating up various super-heroes and -villains and taking their objects of power, so Doreen has to team up with her friends to save the day.</p>
                    <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/The_Unbeatable_Squirrel_Girl" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="border: solid black 5px";>
        <div class="row g-0" style="background-image: linear-gradient(to right, black, grey)";>
            <div class="col-md-2">
                <img class="img-fluid rounded-start" src="~/Comic_Images/Comic 4.jpg" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title" style="color:whitesmoke";>Blankets</h3>
                    <p class="card-text" style="color:whitesmoke";> Blankets is an autobiographical graphic novel by Craig Thompson, published in 2003 by Top Shelf Productions. As a coming-of-age autobiography, the book tells the story of Thompson's childhood in an Evangelical Christian family, his first love, and his early adulthood. The book was widely acclaimed, with Time magazine ranking it #1 in its 2003 Best Comics list, and #8 in its Best Comics of the Decade.</p>
                    <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Blankets_(comics)" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="border: solid black 5px";>
        <div class="row g-0" style="background-image: linear-gradient(to right, black, grey)";>
            <div class="col-md-2">
                <img class="img-fluid rounded-start" src="~/Comic_Images/Comic3.jpg" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title" style="color:whitesmoke";>Wolverine: Origin Deluxe Edition</h3>
                    <p class="card-text" style="color:whitesmoke";> Featuring the birth and childhood of sickly young James Howlett, the secrets and intrigue of his family history, the first struggle with his subconscious savagery that culminated in tragedy, and how James' flight from everything he once knew led to the forging of the man known as Logan!</p>
                    <a class="btn btn-primary" href="https://aiptcomics.com/2023/01/04/wolverine-origin-deluxe-edition-review/" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="border: solid black 5px";>
        <div class="row g-0" style="background-image: linear-gradient(to right, black, grey)";>
            <div class="col-md-2">
                <img class="img-fluid rounded-start" src="~/Comic_Images/Comic2.jpg" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title" style="color:whitesmoke";>New Avengers by Brian Michael Bendis: The Complete Collection Vol. 2</h3>
                    <p class="card-text" style=" color:whitesmoke";> As Brian Michael Bendis' New Avengers roster is completed, who is the masked Ronin - and why has Captain America recruited this mysterious figure? In the wake of the tumultuous events of House of M, a new threat emerges that may be impossible to stop.</p>
                    <a class="btn btn-primary" href="https://www.goodreads.com/en/book/show/30621662" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="border: solid black 5px";>
        <div class="row g-0" style="background-image: linear-gradient(to right, black, grey)";>
            <div class="col-md-2">
                <img class="img-fluid rounded-start" src="~/Comic_Images/Comic6.jpg" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"style="color:whitesmoke";>Hawkeye</h3>
                    <p class="card-text" style="color:whitesmoke";> An expert marksman and fighter, Clint Barton puts his talents to good use by working for S.H.I.E.L.D. as a special agent. The archer known as Hawkeye also boasts a strong moral compass that at times leads him astray from his direct orders.</p>
                    <a class="btn btn-primary" href="https://www.marvel.com/characters/hawkeye-clint-barton" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>

</body>

