@{
    ViewBag.Title = "Home Page";
}

<body style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet)" ;>
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title"></h1>
            <img align="middle" style="width900px; height300px; border:5px solid black" ; src="~/Comic_Images/Marvel Home Page.jpg" />
            <p text-align: center; class="lead" style="font-family:'Courier New'; color: whitesmoke" ;> Welcome to my Comic Book Store. Whatever Comic Book you want we have :)</p>
        </section>
    </main>
</body>